body{
    background-color: rgb(240,240,242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.centered-section{
    width: 60%;
    padding: 20px;
    height: 100%;
    border-radius: 2opx;
    color: #000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left:20%; 
}
.example-header{
    font-size: 200%;
}
p .example-info{
  color: hwb(240 43% 28%);
  text-decoration: none;
}